@model IEnumerable<S4597925Assign2.Data.Model.Attendee>

@{ 
    ViewBag.Title = "List of Attendees";
}

    <div class="text-center" , style="background-color: lightslategray;">
        <h1 class="display-4" , style="color:white;">Attendees</h1>
    </div>

    <a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Attendee" asp-action="Create">Register New Attendee</a>
    
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Conference</th>
                <th>Edit Attendee</th>
                <th>Delete Attendee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attendee in Model)
            {
                <tr>
                    <td>@attendee.ID</td>
                    <td>@attendee.Name</td>
                    <td>@attendee.Email</td>
                    <td>@attendee.ConferenceName</td>
                    <td><a class="btn btn-info" asp-area="" asp-controller="Attendee" asp-action="Update" asp-route-id="@attendee.ID">Edit</a></td>
                    <td><a class="btn btn-danger" asp-area="" asp-controller="Attendee" asp-action="Delete" asp-route-id="@attendee.ID">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>